@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-blue-900 dark:bg-red-900 dark:text-gray-100;

}